<h1 class="title is-2">All Customers</h1>
<p><%= link_to "Alphabetized", "/customers/alphabetized" %> <%= link_to "Missing email", "/customers/missing_email" %></p>
<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <%= render partial: 'customer',
              object: customer %>
  <% end %>
</div>
